// If need, change your variables before importing Bulma
$primary-color: hsl(143, 45%, 50%);
$light-green: hsl(150, 43%, 97%);
$light-grey-green: hsl(148, 44%, 92%);
$grey-green: hsl(148, 43%, 73%);
$tea-green: hsl(100, 62%, 85%);
$dark-blue-green: hsl(158, 91%, 27%);
$dark-blue: hsl(187, 100%, 9%);
$text-color: hsl(0, 0%, 22%);
$wide-device: "only screen and (min-width : 768px)";
$desktop-device: "only screen and (min-width : 1024px)";
$ultra-wide-device: "only screen and (min-width : 1216px)";
$iPad-Pro-screen: "only screen and (width: 1024px)";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "~bulma/bulma.sass";

html {
  font-family: 'Inter', 'Noto Sans JP', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 1rem;
}

body {
  font-family: 'Inter','Noto Sans JP', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  color: $text-color;
}

a {
  color: $dark-blue;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
   font-size: 2rem;
   line-height: 1.4;
}

h2 {
   font-size: 1.8rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.95rem;
}

article {
  margin-bottom: 1rem;
}

th {
  font-weight: 600;
}

//images

.header-wrapper {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.index-header {
  background:linear-gradient( 135deg,
  rgba(81.6%,94.1%,75.3%, 0.15) 10%,
  rgba(81.6%,94.1%,75.3%, 0.35) 100%),
    url("../images/heading-bk-1920.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service-header {
  background-color: $light-grey-green;

  h1 {
    color: $dark-blue-green;
  }
}

.client-header {
  background-color: $light-grey-green;

  h1 {
    color: $dark-blue-green;
  }
}

.sustain-header {
  background-color: $light-grey-green;

  h1 {
    color: $dark-blue-green;
  }
}

.contact-header {
  background-color: $light-grey-green;

  h1 {
    color: $dark-blue-green;
  }
}

//button

.primary-button {
  padding: 1rem 1.5rem;
  color: white;
  background-color: $dark-blue;
  font-size: 1.15rem;
  font-weight: 500;
  margin-top: 2.5rem;
  display: block;
  text-align: center;
  max-width: max-content;
  transition: all .25s ease-in-out;
  border-radius: .5rem;

  &:hover {
    background-color: $primary-color;
    color: white;
    transition: all .25s ease-in-out;
  }
  &:focus {
    background-color: $primary-color;
    color: white;
    transition: all .25s ease-in-out;
  }
}

.button-centered {
  margin-left: auto;
  margin-right: auto;
}

.view-more-button {
  min-width: 240px;
  margin-top: 0;
}

//text

.align-left {
  text-align: left !important;
}

article p {
  font-size: 1.15rem;
}

.heading-title {
  max-width: 640px;
  color: $white;
  z-index: 2;
  text-align: center;
  margin: .5rem auto;
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .heading-title {
    font-size: 2.5rem;
  }
}

.section-title,
.section-subtitle {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: $dark-blue;
}

.section-subtitle {
  color: $primary-color;
}

.section-text {
  text-align: center;
  max-width: 720px;
  font-size: 1rem;
  margin: 0 auto;
  padding: 1rem 1.5rem 0;
}

.title-number {
  color: $dark-blue;
}

.title-text {
  color: $dark-blue;
}

.divider {
  display: block;
  text-align: center;
  height: 45px;
  margin: 1.5rem auto;
  background: hsl(0, 0, 14.8%);
  width: 1px;
  mix-blend-mode: multiply;
  z-index: 2;
}

.notes {
  font-size: 0.8rem;
  color: $dark-blue;
}

//navbar

.navbar {
  z-index: 999;
  margin: auto;
  background: white;
  height: 3.25rem;
  border-bottom: 1px solid $light-grey-green;
  transition: all .25s ease-in-out;
  
  a {
    font-weight: 600;
    font-size: 1.15rem;
  }

  .navbar-brand a {
    font-size: 1.35rem;
    line-height: 1.2;
  }
}

.navbar-link:not(.is-arrowless)::after {
  border-color: $dark-blue;
}

.navbar-item.has-dropdown:hover .navbar-link {
  color: $primary-color;
  background-color: $light-green;
}

.navbar-end a:hover {
  color: $primary-color;
}

.navbar-link {
  color: $dark-blue;
  font-size: 1.15rem;
  margin: .75rem 0;
  border-radius: .5rem;
  font-weight: 600;
}

.navbar-burger {
  background: transparent;
  color: white;

  span {
    width: 20px;
    height: 2px;
    transition: all .25s ease-in-out;
  }
}


.navbar-burger:hover {
  background: transparent;

  span:nth-child(2) {
    transform: scaleX(0.4);
    transition: all .25s ease-in-out;
  }
}

.navbar-burger:focus {
  background: transparent;

  span:nth-child(2) {
    transform: scaleX(0.4);
    transition: all .25s ease-in-out;
  }
}

//navbar responsive

@media #{$iPad-Pro-screen} {
  .navbar {
    height: 86px;
  }
}

@media #{$desktop-device} {
  .navbar {
    padding: 0 .5rem;
    min-height: 85px;

    .navbar-brand {
      a {
        color: $dark-blue;
      }
    }
  }

  .navbar-link:not(.is-arrowless)::after {
    border-color: $primary-color;
  }

  .navbar-dropdown {
    border: none;

    a.navbar-item {
      &:hover {
        background-color: $light-green;
      }
      &:focus {
        background-color: $light-green;
      }
    }
  }
}

@media only screen and (width: 1024px) {
  .navbar {
    a {
      font-size: 1rem;
    }

    .navbar-brand  {
      a {
        font-size: 1.35rem;
        line-height: 1;
      }
    }
    .navbar-link {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .navbar {
    background: $dark-blue;
    border: none;

    .navbar-brand  {
      a {
        font-size: 1rem;
        line-height: 1.5;
      }

      a:hover {
        color: white;
      }

      a:focus {
        color: white;
      } 
    }

    a {
      font-size: 1rem;
      color: white;
    }

    .navbar-menu {
      background: $dark-blue;
      border-radius: 0 0 1rem 1rem;
      padding: 1rem;
    }

    .navbar-end {
      .navbar-item {
        border-top: 1px solid hsl(185.5,100%,12.9%);
      }
    }
  }

  .navbar-dropdown a:hover {
    background: transparent;
  }

  .navbar-item.has-dropdown:hover .navbar-link {
    color: #46b972;
    background-color: transparent;
  }

  .navbar-link:not(.is-arrowless)::after {
    border-color: $primary-color;
  }

  .navbar-link {
    margin: .5rem 0 .25rem 0;
    border-radius: .5rem;
    color: $primary-color;

    &:active {
      color: $dark-blue;
    }
    &:hover {
      color: $dark-blue;
    }
    &:focus {
      color: $dark-blue;
    }
  }
}

//main

.columns {
  margin-left: 0;
  margin-right: 0;
}

.wrapper {
  margin-top: 3.25rem;
  overflow-x: hidden;
}

@media #{$desktop-device} {
  .wrapper {
    margin-top: 85px;
  }
}

@media #{$iPad-Pro-screen} {
  .wrapper {
    margin-top: 86px;
  }
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.blocks {
  margin: 3rem auto;
  padding: 1.5rem 0;
}

//block-main

.block-main {
  text-align: center;
  margin: 3rem auto 1.5rem;
  padding: 1.5rem;
}

@media #{$wide-device} {
  .block-main {
    padding: 0;
    margin: 6rem auto 3rem;
  }
}

.block-main .main-img {
  position: inherit;
  display: block;
  max-width: 860px;
  min-height: 440px;
  background-image: url("../images/service-1440.jpg");
  background-position: center;
  background-size: cover;
  margin: -3rem auto 1.5rem;
  z-index: -1;
}

.block-main .text-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

//block-info

.info-1,
.info-2 {
  position: relative;
}

.info-1 {
  margin-top: -3rem;

  &:after {
    display: block;
    width: 440px;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #d0f0c0;
    z-index: -2;
    opacity: .25;
  }
}

.info-2 {

  &:after {
    display: block;
    width: 440px;
    height: 100%;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #d0f0c0;
    z-index: -2;
    opacity: .25;
  }
}

.info-content {
  padding: 1.5rem;
  position: relative;
  min-height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6rem;
}

.img-wrapper {
  position: inherit;
  display: block;
  width: 100%;
  height: 50vh;
  background-image: url("../images/service-1440.jpg");
  background-position: center;
  background-size: cover;
  background-color: $primary-color;
  z-index: -1;
}

.info-content .text-wrapper {
  background: white;
  padding: 2rem 2rem;
  margin: auto 0;
}

.info-title {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.title-text {
  margin: .25rem .5rem;
}

@media #{$wide-device} {
  .img-wrapper {
    background-color: $primary-color;
    display: block;
    padding: 0;
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url("../images/service-1440.jpg");
    background-position: center;
    background-size: cover;
  }

  .img-wrapper.on-right {
    right: 0;
  }

  .img-wrapper.on-left {
    left: 0;
  }

}

@media only screen and (width: 1024px) {
  .info-content {
    padding: 2.5rem 1.5rem;
  }
}

@media #{$desktop-device} {
  .img-wrapper {
    width: 60%;
  }

  .info-content .text-wrapper {
    padding: 2.5rem 2rem;
  }

  .info-1 {
    &:after {
      margin-left: 25%;
    }
  }

  .info-2 {
    &:after {
      margin-right: 25%;
    }
  }
}

@media only screen and (width: 768px) {
  .block-info .info-content .text-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 768px) {

  .info-1 {
    padding-bottom: 2.5rem;

    &:after {
      left: 0;
      top: 0;
      padding-bottom: 1rem;
    }
  }

  .info-2 {
    padding-bottom: 2.5rem;

    &:after {
      right: 0;
      top: 0;
      padding-bottom: 1rem;
    }
  }

  .space {
    display: none;
  }
}

//block-service

.service-img {
  background-color: $primary-color;
  display: block;
  background-image: url("../images/service-1440.jpg");
  background-position: center;
  background-size: cover;
  min-height: 380px;
}

.service-content {
  padding: 1.5rem 0;
  margin: .5rem auto;
}

.service-title {
  margin-bottom: 1rem;
  color: $primary-color;
}

.block-service .service-content .text-wrapper {
  background: $light-green;
}

//block-case

.showcase {
  max-width: 1366px;
  margin: 0 auto;
}

.case {
  min-height: 320px;
  display: flex;
  background-image: url("../images/service-1440.jpg");
  background-position: center;
  background-size: cover;
}


.case-content-wrapper {
  margin: 2rem;
  width: 100%;
}

.case-content {
  height: 100%;
  width: 100%;
  padding: 2rem;
  background: white;

  .case-info {
    margin-top: 1rem;
  }

  .case-title {
    color: $dark-blue-green;
  }
}

@media #{$wide-device} {
  .case-content-wrapper {
    opacity: 0;
    transition: all .25s ease-in-out;
  }

  .case:hover > .case-content-wrapper {
    opacity: 1;
    transition: all .25s ease-in-out;
  }
}
.block-case {
  .text-wrapper {
    padding: 1rem;
    margin: 1.5rem auto 0;
    text-align: center;
    max-width: 720px;
  }
}

//block-contact

.block-contact {
  background-color: $light-green;
  padding: 3rem 0;
  color: $dark-blue;
}

.contact-content-wrapper {
  padding: 1rem 2.5rem;
  max-width: 720px;
  margin: 0 auto;
}

@media #{$wide-device} {
  .contact-content-wrapper {
    padding: 1rem 2rem;
  }
}

@media #{$desktop-device} {
  .contact-content-wrapper {
    padding: 1rem 1.5rem;
  }
}

.contact-item {
  margin-bottom: .5rem;

  h2 {
    font-weight: 600;
    margin-bottom: .5rem;
  }
}

.contact-item.contact-number {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid $dark-blue;

  h5 {
    margin-right: .5rem;
    padding: .5rem 1rem;
    background: $dark-blue-green;
    color: white;
    border-radius: .25rem;
  }

  h4 {
    padding: .5rem 0;
  }
}

@media only screen and (max-width: 1023px) {
  .contact-item.contact-number {
    h5 {
      padding: .5rem .5rem;
    }
  }
}

.contact-item.contact-mail {

  a {
    font-size: 1.25rem;
    color: $dark-blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 0;
    margin-top: 1.5rem;
    background: transparent;
    border: 2px solid $dark-blue;
    border-radius: .5rem;
    overflow: hidden;

    span:first-child() {
      display: flex;
      flex-direction: row;
      line-height: 1.7;

      i {
        margin: 0 1.5rem;
        font-size: 2rem;
      }
    }

    span:last-child {

      i {
        font-size: 1.5rem;
        margin-top: .25rem;
        margin-right: 1.5rem;
      }
    }
  }

  a:hover {
    background: $dark-blue;
    color: white;
  }
}



//footer

.footer {
  width: 100%;
   padding: 2.5rem 2rem;
   margin-bottom: 0;
   color: white;
   background: $dark-blue;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.footer .social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.footer .social-list li {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .footer .social-list {
    justify-content: flex-start;
  }

  .footer .social-list li:first-child {
    margin-left: 0;
  }
}

.footer .social-list a {
  color: white;
  font-size: 1.25rem;
}

//pages-wrapper

.pages-wrapper {
  margin-top: 2.5rem;
}

//service page

.service-wrapper {
  overflow-x: hidden;
  padding: 0 1rem;
  margin-top: 2.5rem;
}

.service-details {
  padding-top: 0;
}

.service-details-wrapper {
  padding-top: .5rem;
  margin-bottom: 2.5rem;
}

.service-heading {
  border-bottom: 1px solid $white-ter;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: $dark-blue;
}

.service-title {
  color: $dark-blue;
}

@media #{$desktop-device} {

  .service-wrapper {
    padding: 0;
  }

  .service-heading {
    margin-right: 1.5rem;
  }

  .service-details-wrapper {
    padding-right: 1.5rem;
  }
}

.sub-item {
  padding-left: 3rem;
  background-color: $light-green;
  border-radius: .5rem;
  margin-bottom: 1.5rem;

  .service-title {
    padding-top: 2.5rem;
    color: $primary-color;
  }

  .text-wrapper {
    background: transparent;
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}

@media only screen and (max-width: 1023px) {
  .service-content .text-wrapper {
    padding: 1rem .5rem;
  }

  .block-service .service-content .text-wrapper {
    padding: 2.5rem;
    margin: 0;
  }

  .sub-item {
    padding-left: 1.5rem;

    .service-title {
      font-size: 1.45rem;
    }

    .text-wrapper {
      padding: 0 1rem 1rem 1rem;
    }
  }
}

.menu-label {
  font-size: .95rem;
  color: $grey-green;
}

.menu-list li ul {
  border-color: $white-ter;
}

.menu-list li a {
  font-size: 1.15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: $dark-blue;
  border-radius: 0;

  &:hover {
    background-color: $light-green;
    color: $dark-blue;
  }
  &:focus {
    background-color: $primary-color;
    color: white;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-list li a {
    font-size: .95rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  .menu-label {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

//support page

.support-content {
  position: inherit;
  display: block;
  margin: 0 auto 1.5rem;

    .section-title {
      padding-left: 3.5rem;
      position: relative;
      color: $dark-blue;
      margin-bottom: 1rem;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 36px;
        height: 1px;
        background: $dark-blue;
        display: block;
      }
    }
}

.section-row {
  padding: 1rem 1rem;
}


@media #{$desktop-device} {
  .support-content {
    margin-left: 1.5rem;
  }

  .section-row {
    padding: 3rem 0;
  }
}

.row-1 {
  background: $light-green;
  margin-top: -3rem;
}

.row-3 {
  background: $light-green;
}

.row-1,
.row-2,
.row-3,
.row-4 {
  margin-bottom: 3rem;
}

.vehicle-icon {
  background-image: url("../images/icons8-field-and-tractor-64.png");
}

.deploy-icon {
  background-image: url("../images/icons8-tree-planting-64.png");
}

.equip-icon {
  background-image: url("../images/icons8-wheelbarrow-64.png");
}

.society-icon {
  background-image: url("../images/icons8-smart-card-64.png");
}

@media #{$wide-device} {
  .support-img {
    margin-top: -8rem;
    margin-left: -3rem;
  }  
}

//client page

.client-wrapper {
  padding-bottom: 2.5rem;

  .section-text {
    font-weight: 500;
    text-align: left;
    margin-top: 1.5rem;
    padding: 1.5rem;

    article p {
      font-size: 1.35rem;
    }
  }
}

.client-list {
  padding-bottom: 2.5rem;
}

.client-thumb {
  display: block;
  height: 280px;
  margin: 0 1rem;
  background-image: url("../images/service-1440.jpg");
  background-position: center;
  background-size: cover;
}

@media #{$wide-device} {
  .client-thumb {
    margin: 0;
    height: 200px;
  }
}

@media #{$ultra-wide-device} {
  .client-thumb {
    margin: 0;
    height: 320px;
  }
}

.client-content {
  margin-top: -2.5rem;
  padding: 2.5rem;
  background: white;
  max-width: 75%;
}

.client-title {
  margin-bottom: .5rem;
}

@media only screen and (max-width: 1023px) {
  .client-wrapper {
    padding-bottom: 0;
  }
}

// sustain page


.sustain-tabs {
  display: none;
}

.tabs-container {
  flex-direction: column;
  justify-content: flex-start;
}

.tab-list {
  color: $dark-blue;
}

.tabs ul {
  border-bottom: 1px solid $light-grey-green;
}

.tab-list-item {
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  font-size: 1.15rem;
}

.tab-list-active {
  background-color: white;
  border: solid $primary-color;
  border-width: 0 0 1px 0;
}

.tab-content {
  white-space: normal;
  padding: 1.5rem;
  overflow: hidden;
}

.tab-title {
  display: flex;
  flex-direction: row;
  color: $dark-blue;

  h2 {
    padding-top: .5rem;
  }
}

.bk-icon {
  display: block;
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  margin-right: 1.5rem;
}

.ppl-icon {
  background-image: url("../images/icons8-scarecrow-64.png");
}

.health-icon {
  margin-top: -.5rem;
  background-image: url("../images/icons8-lotus-64.png");
}

.social-icon {
  background-image: url("../images/icons8-puzzle-64.png");
}

@media #{$desktop-device} {
  .tab-content {
    padding: 3rem 0 1.5rem;
  }
}

.paragraph {
  margin-bottom: 1.5rem;
}

.paragraph-img {
  position: inherit;
  display: block;
  min-height: 440px;
  background-image: url("../images/service-1440.jpg");
  background-position: center;
  background-size: cover;
  margin: 1.5rem auto 1.5rem;
}

.sustain-footer-title {
  color: $primary-color;
}

.sustain-footer {
  padding-top: 1.5rem;
  padding-bottom: 6rem;
  text-align: center;
}

.sustain-img {
  position: inherit;
  display: block;
  min-height: 440px;
  background-position: center;
  background-size: cover;
}

.sustain-img-1 {
  background-image: url("../images/ppl-640.jpg");
}

.sustain-img-2 {
  background-image: url("../images/dirt-640.jpg");
}

.sustain-img-3 {
  background-image: url("../images/water-640.jpg");
}

@media only screen and ( max-width: 375px) {
  .tab-title {
    h2 {
      font-size: 1.5rem;
      padding-top: 0;
    }

    h2.health-title {
      padding-top: .6rem;
    }
  }
}
//About page

.about-wrapper {
  .section-text {
    font-weight: 500;
    text-align: left;
    margin-top: 1.5rem;
    padding: 1.5rem;

    article p {
      font-size: 1.35rem;
    }
  }

  .contact-list {
    max-width: 720px;
    margin: 2.5rem auto;
    padding: 1.5rem;
  }

  table {
    font-size: 1.35rem;

    td, th{
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      color: $dark-blue;
    }
  }
}

.table td, .table th {
  border-color: $tea-green;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background: $light-green;
}

@media only screen and (max-width: 1023px) {
  .about-wrapper {
    table {
      font-size: .95rem;
    }
  }
}

//animation
