// If need, change your variables before importing Bulma
$primary-color: #47B972;
$light-green: #f5fbf8;
$light-grey-green: #e3f4eb;
$grey-green: #9dd8b9;
$dark-blue-green: #068456;
$dark-blue: #00282d;
$text-color: hsl(0, 0%, 22%);
$wide-device: "only screen and (min-width : 768px)";
$desktop-device: "only screen and (min-width : 1024px)";
$ultra-wide-device: "only screen and (min-width : 1216px)";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "~bulma/bulma.sass";

html {
  font-family: 'Inter', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

body {
  font-family: 'Inter','Noto Sans TC', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.15rem;
  color: $text-color;
}

a {
  color: $dark-blue;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
   font-size: 2rem;
   line-height: 1.4;
}

h2 {
   font-size: 1.8rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.95rem;
}

article {
  margin-bottom: 1rem;
}

//images

.header-wrapper {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.index-header {
  background: linear-gradient(
      rgba(21, 21, 21, .75),
      rgba(21, 21, 21, .75)
    ), url("../images/service-1440.jpg");
}

@medium #{$wide-device} {
  .index-header {
    min-height: 320px;
  }
}

.service-header {
  background-color: $light-grey-green;

  h1 {
    color: $dark-blue-green;
  }
}

.client-header {
  background-color: $light-grey-green;

  h1 {
    color: $dark-blue-green;
  }
}

.sustain-header {
  background-color: $light-grey-green;

  h1 {
    color: $dark-blue-green;
  }
}

.contact-header {
  background-color: $light-grey-green;

  h1 {
    color: $dark-blue-green;
  }
}

//button

.primary-button {
  padding: 1rem 1.5rem;
  color: white;
  background-color: $dark-blue;
  font-size: 1.15rem;
  font-weight: 500;
  margin-top: 2.5rem;
  display: block;
  text-align: center;
  max-width: max-content;
  transition: all .25s ease-in-out;

  &:hover {
    background-color: $primary-color;
    color: white;
    transition: all .25s ease-in-out;
  }
  &:focus {
    background-color: $primary-color;
    color: white;
    transition: all .25s ease-in-out;
  }
}

.button-centered {
  margin-left: auto;
  margin-right: auto;
}

//text

.align-left {
  text-align: left !important;
}

article p {
  font-size: 1.15rem;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: $dark-blue;
}

.navbar-link:hover {
  color: $primary-color;
  background-color: $light-green;
}

.navbar-end a:hover {
  color: $primary-color;
}

.navbar.is-fixed-top .navbar-end span {
    font-size: 1rem;
    font-weight: 600;
}

.heading-title {
  max-width: 640px;
  color: white;
  z-index: 2;
  text-align: center;
  margin: .5rem auto;
  font-size: 2.5rem;
}

.section-title,
.section-subtitle {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: $dark-blue;
}

.section-subtitle {
  color: $primary-color;
}

.section-text {
  text-align: center;
  max-width: 720px;
  font-size: 1rem;
  margin: 0 auto;
  padding: 1rem 1.5rem 0;
}

.title-number {
  color: $dark-blue;
}

.title-text {
  color: $dark-blue;
}

.divider {
  display: block;
  text-align: center;
  height: 45px;
  margin: 1.5rem auto;
  background: hsl(0, 0, 14.8%);
  width: 1px;
  mix-blend-mode: multiply;
  z-index: 2;
}

.menu-list a.is-active {
  background-color: $primary-color;
}

.tabs li.is-active a {
  border-color: $turquoise;
  color: $turquoise;
}

.notes {
  font-size: 0.8rem;
  color: #9dd8b9;
}

//navbar

.navbar.is-fixed-top {
  z-index: 999;
  margin: auto;
  background: white;
  height: 3.25rem;
  border-bottom: 1px solid $light-grey-green;
  a {
    font-weight: 600;
  }

    .navbar-brand a {
      font-size: 1.25rem;
    }

    .navbar-end a {
      font-size: 1rem;
    }

}

@media #{$desktop-device} {
  .navbar.is-fixed-top {
    padding: 0 1rem;
    min-height: 85px;
  }

  .navbar-dropdown {
    border: none;

    a.navbar-item {
      &:hover {
        background-color: $light-green;
      }
      &:focus {
        background-color: $light-green;
      }
    }
  }
}

.navbar-item, .navbar-link {
  color: $dark-blue;
}

.navbar-burger {
  background: transparent;
  color: $dark-blue;

  span {
    width: 20px;
    height: 2px;
    transition: all .25s ease-in-out;
  }
}


.navbar-burger:hover {
  background: transparent;

  span:nth-child(2) {
    transform: scaleX(0.4);
    transition: all .25s ease-in-out;
  }
}

.navbar-burger:focus {
  background: transparent;

  span:nth-child(2) {
    transform: scaleX(0.4);
    transition: all .25s ease-in-out;
  }
}


//main

.wrapper {
  width: 100%;
  min-height: 100%;
  margin-top: 3.25rem;
}

@media #{$desktop-device} {
  .wrapper {
    margin-top: 85px;
  }
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.blocks {
  margin: 3rem auto;
  padding: 1.5rem 0;
}

//block-main

.block-main {
  text-align: center;
  margin: 3rem auto 1.5rem;
  padding: 1.5rem;
}

@media #{$wide-device} {
  .block-main {
    padding: 0;
    margin: 6rem auto 3rem;
  }
}

.block-main .main-img {
  position: inherit;
  display: block;
  max-width: 860px;
  min-height: 440px;
  background-image: url("../images/service-1440.jpg");
  background-position: center;
  background-size: cover;
  margin: -3rem auto 1.5rem;
}

.block-main .text-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

//block-info

.info-content {
  padding: 1.5rem;
  position: relative;
  min-height: 440px;
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-wrapper {
  position: inherit;
  display: block;
  width: 100%;
  height: 50vh;
  background-image: url("../images/service-1440.jpg");
  background-position: center;
  background-size: cover;
  background-color: $primary-color;
  z-index: -1;
}

@media #{$wide-device} {
  .img-wrapper {
    background-color: $primary-color;
    display: block;
    padding: 0;
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url("../images/service-1440.jpg");
    background-position: center;
    background-size: cover;
  }

  .img-wrapper.on-right {
    right: 0;
  }

  .img-wrapper.on-left {
    left: 0;
  }

  .info-2 {
    margin-top: 6rem;
  }
}

.info-content .text-wrapper {
  background: white;
  padding: 2rem;
  margin: auto 0;
}

.info-title {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.title-text {
  margin: .25rem .5rem;
}

// block-service

.service-img {
  background-color: $primary-color;
  display: block;
  background-image: url("../images/service-1440.jpg");
  background-position: center;
  background-size: cover;
  min-height: 380px;
}

.service-content {
  padding: 1.5rem 0;
  margin: .5rem auto;
}

.service-title {
  margin-bottom: 1rem;
  color: $primary-color;
}

.service-content .text-wrapper {
  background: white;
  padding: 2.5rem;
  margin: auto 0;
}

// block-contact

.block-contact {
  background-color: $light-green;
}

.block-contact .contact-content {
  margin: 2.5rem auto 0;
  padding: 2.5rem;
}

.block-contact .column {
  color: $dark-blue-green;
}

.block-contact .column.on-left {
  border-bottom: 1px solid $dark-blue-green;
}

@media #{$wide-device} {
  .block-contact .column.on-left {
    border-right: 1px solid $dark-blue-green;
    border-bottom: none;
  }

  .block-contact .column.on-right {
    padding-left: 2.5rem;
  }
}

// footer

.footer {
  width: 100%;
   padding: 2.5rem 2rem;
   margin-bottom: 0;
   color: white;
   background: $dark-blue-green;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.footer .social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer .social-list li {
  margin-left: 1.5rem;
}

.footer .social-list a {
  color: white;
  font-size: 1.25rem;
}

// pages-wrapper

.pages-wrapper {
  margin-top: 2.5rem;
}

@media #{$desktop-device} {
  .pages-wrapper {
    margin-top: 5rem;
  }
}

//service page

.service-wrapper {
  overflow-x: hidden;
  padding: 0 1rem 1rem;
  margin-top: 1.5rem;
}

.service-details {
  padding-top: 0;
}

.service-details-wrapper {
  padding-top: .5rem;
  margin-bottom: 2.5rem;
}

.service-heading {
  border-bottom: 1px solid $white-ter;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: $dark-blue;
}

.service-title {
  padding: 1rem 0;
  color: $dark-blue;
}

@media #{desktop-device} {
  .service-wrapper,
  .service-title {
    padding-left: 0;
    padding-right: 0;
  }

  .service-heading {
    margin-right: 1.5rem;
  }

  .service-details-wrapper {
    padding-right: 1.5rem;
  }
}

.sub-item {
  padding-left: 3rem;
  background-color: $light-green;
  border-radius: .5rem;
  margin-bottom: 1.5rem;

  .service-title {
    padding-top: 2.5rem;
    color: $primary-color;
  }

  .text-wrapper {
    background: transparent;
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}


.menu-label {
  font-size: .95rem;
  color: $grey-green;
}

.menu-list li ul {
  border-color: $white-ter;
}

.menu-list li a {
  font-size: 1.15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: $dark-blue;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
  &:focus {
    background-color: $primary-color;
    color: white;
  }
}

//support page

.support-content {
  position: inherit;
  display: block;
  margin: 0 auto 1.5rem;

    .section-title {
      padding-left: 3.5rem;
      position: relative;
      color: $dark-blue;
      margin-bottom: 1rem;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 36px;
        height: 1px;
        background: $dark-blue;
        display: block;
      }
    }
}

@media #{$desktop-device} {
  .support-content {
    margin-left: 1.5rem;
  }
}

.row-1 {
  background: $light-green;
  margin-top: -3rem;
}

.row-3 {
  background: $light-green;
}

.vehicle-icon {
  background-image: url("../images/icons8-field-and-tractor-64.png");
}

.deploy-icon {
  background-image: url("../images/icons8-tree-planting-64.png");
}

.equip-icon {
  background-image: url("../images/icons8-wheelbarrow-64.png");
}

.society-icon {
  background-image: url("../images/icons8-smart-card-64.png");
}

//client page

.client-list {
  padding-bottom: 2.5rem;
}

.client-thumb {
  display: block;
  height: 280px;
  margin: 0 1rem;
  background-image: url("../images/service-1440.jpg");
  background-position: center;
  background-size: cover;
}

@media #{$wide-device} {
  .client-thumb {
    margin: 0;
    height: 200px;
  }
}

@media #{$ultra-wide-device} {
  .client-thumb {
    margin: 0;
    height: 320px;
  }
}

.client-content {
  margin-top: -2.5rem;
  padding: 2.5rem;
  background: white;
  max-width: 75%;
}

.client-title {
  margin-bottom: .5rem;
}

// sustain page


.sustain-tabs {
  display: none;
}

.tabs-container {
  flex-direction: column;
  justify-content: flex-start;
}

.tab-list {
  color: $dark-blue;
}

.tabs ul {
  border-bottom: 1px solid $light-grey-green;
}

.tab-list-item {
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  font-size: 1.15rem;
}

.tab-list-active {
  background-color: white;
  border: solid $primary-color;
  border-width: 0 0 1px 0;
}

.tab-content {
  white-space: normal;
  padding: 1.5rem;
  overflow: hidden;
}

.tab-title {
  display: flex;
  flex-direction: row;
  color: $dark-blue;

  h2 {
    padding-top: .5rem;
  }
}

.bk-icon {
  display: block;
  width: 48px;
  height: 48px;
  background-position: center;
  background-size: cover;
  margin-right: 1.5rem;
}

.ppl-icon {
  background-image: url("../images/icons8-scarecrow-64.png");
}

.health-icon {
  margin-top: -.5rem;
  background-image: url("../images/icons8-lotus-64.png");
}

.social-icon {
  background-image: url("../images/icons8-puzzle-64.png");
}

@media #{$desktop-device} {
  .tab-content {
    padding: 3rem 0 1.5rem;
  }
}

.paragraph {
  margin-bottom: 1.5rem;
}

.paragraph-img {
  position: inherit;
  display: block;
  min-height: 440px;
  background-image: url("../images/service-1440.jpg");
  background-position: center;
  background-size: cover;
  margin: 1.5rem auto 1.5rem;
}

.sustain-footer-title {
  color: $primary-color;
}

.sustain-footer {
  padding-top: 1.5rem;
  padding-bottom: 6rem;
  text-align: center;
}

.sustain-img {
  position: inherit;
  display: block;
  min-height: 440px;
  background-image: url("../images/service-1440.jpg");
  background-position: center;
  background-size: cover;
}

// contact page

.contact-wrapper {
  .section-text {
    font-weight: 500;
    font-size: 1.25rem;
    text-align: left;
    margin-top: 1.5rem;
    padding: 1.5rem;
  }

  .contact-list {
    max-width: 720px;
    margin: 1.5rem auto;
    padding: 1.5rem;
  }

  table {
    font-size: 1.25rem;

    td, th{
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
