// If need, change your variables before importing Bulma
$primary-color: hsl(143, 45%, 50%);
$space-grey: #3c3c3c;
$dark-grey: hsl(120,1.8%,10.8%);
$dark-blue-green: hsl(158, 91%, 27%);
$dark-blue: hsl(187, 100%, 9%);
$text-color: hsl(0, 0%, 22%);

//hero
$hero-body-padding: 0;

//navbar
$navbar-item-img-max-height: 3.25rem;
$navbar-height: 6.25rem;
$navbar-background-color: transparent;
$navbar-item-color: $space-grey;
$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: $dark-grey;
$navbar-dropdown-border-top: 2px solid $primary-color;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import "~bulma/bulma.sass";

html {
  font-family: 'Inter', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 1rem;
}

body {
  font-family: 'Inter','Noto Sans TC', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  color: $space-grey;
  overflow-x: hidden;
}

a {
  color: $space-grey;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: $dark-grey;
}

.eng {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
}

h1 {
   font-size: 2rem;
   line-height: 1.4;
}

h2 {
   font-size: 1.8rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.95rem;
}

th {
  font-weight: 600;
}

//images

img {
  overflow: hidden;
  margin: 0;
}


//button

.primary-button {
  padding: 1rem 1.5rem;
  color: white;
  background-color: $primary-color;
  font-size: 1.15rem;
  font-weight: 500;
  margin-top: 2.5rem;
  display: block;
  text-align: center;
  max-width: max-content;
  transition: all .25s ease-in-out;
  border-radius: .25rem;
}

.button-centered {
  margin-left: auto;
  margin-right: auto;
}

.view-more-button {
  min-width: 180px;
  margin-top: 0;
}

//Heading & text

.section-title,
.section-subtitle {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: $dark-grey;
  overflow: hidden;
}

.section-subtitle {
  color: $primary-color;
}

//navbar

.navbar {
  background: transparent;
  transition: all .25s ease-in-out;
  a {
    font-weight: 500;
    font-size: 1rem;
  }
}
.navbar-link {
  font-size: 1rem;
  font-weight: 500;
}

button.navbar-burger {
  border: none;

  &:active {
    border: none;
    outline: none;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.navbar-burger {
  background: transparent;
  color: $space-grey;

  span {
    width: 20px;
    height: 2px;
    transition: all .25s ease-in-out;
  }
}

.navbar-burger:hover {
  background: transparent;

  span:nth-child(2) {
    transform: scaleX(0.4);
    transition: all .25s ease-in-out;
  }
}

.navbar-burger:focus {
  background: transparent;

  span:nth-child(2) {
    transform: scaleX(0.4);
    transition: all .25s ease-in-out;
  }
}

//navbar responsive

//main

.wrapper {
  overflow-x: hidden;
}

//header

.header {
  .header-body {
    padding: 1rem 0 0;

    .img-wrapper {
      overflow: hidden;
      height: calc(100vh - 7.25rem);
    }
  }
  .heading-us {
    color: $dark-grey;
  }

  .heading-chin {
    color: $dark-grey;
  }
}

//block-message

.block-message {
  text-align: center;
  margin: 3rem auto;
  padding: 1.5rem;
  max-width: 1344px;
}

//block-info

.block-info {

  .info-content {
  
    .text-wrapper {
      background: white;
      padding: 3rem;
      height: 100%;
    }
  }
}

.info-img {
  background-color: $primary-color;
  display: block;
  background-position: center;
  background-size: cover;
  min-height: 380px;
}

.info-title {
  margin-bottom: 1rem;
}

//block-contact

//footer

.footer {
  width: 100%;
   padding: 2.5rem 2rem;
   margin-bottom: 0;
   color: $space-grey;
   background: #efefef;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   small {
     font-size: 1rem;
     line-height: 2.4;
   }
}

//service page
.page-header{
  .hero{
    background-image: url("../images/health-1200.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
  }
}

//client page


//About page

.contact-link {
  font-weight: 500;
  color: $primary-color;
  font-size: 1.15rem;

  &:hover,
  &:focus {
    color: $dark-blue;
  }
  
  .arrow {
    font-size: 1.3rem;
  }
}

//animation

[data-sal=zoom-in] {
  transform: scale(.95);
}