$primary-color: hsl(143, 45%, 50%);


// block-service

.block-service {
    padding: 4rem 0 5.5rem;
    margin-bottom: 5rem;
    background: rgb(255,255,243);
    background: linear-gradient(135deg, rgba(255,255,243,1) 0%, rgba(214,255,226,1) 100%);
}


// block-client

.block-client {
    padding-bottom: 5rem;
}

.logo {
    margin: 0 auto;
    padding-bottom: 1.25rem;
}

//block-info

.block-info {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.info-img {
    background-color: $primary-color;
    display: block;
    background-position: center;
    background-size: cover;
    min-height: 380px;
  }
  
  .info-title {
    margin-bottom: 1rem;
  }
  
  .info-1,
  .info-2 {
    padding: 4.5rem 3rem;
  }
  
  .info-1-text {
    background: hsl(46.4,100%,95.7%);
  }
  
  .info-2-text {
    background: hsl(90,54.5%,95.7%);
  }
  
  .info-1 {
    .eng-label {
      color: hsl(48.4,95.8%,53.3%);
    }
  }

// block-message

.block-message {
    margin: 5rem 0 6.5rem;
}

.message-wrap {
    overflow: hidden;
    background: rgb(255,250,241);
    background: linear-gradient(135deg, rgba(255,250,241,1) 0%, rgba(255,218,195,1) 100%);
    border-radius: 2.5rem;
}

.msg-heading {
    padding: 5.5rem 5.5rem;

    h1 {
        color: hsl(18, 100%, 50%);
        margin-bottom: 1.5rem;
    }
    
}

//responsive widescreen

@media only screen and (min-width: 1280px) {
    .category-content {
        min-height: 135px;
    }
}

//responsive desktop

@media only screen and (min-width: 1024px) {
    
    .block-heading {
        padding: .5rem 6.5rem;
    }

    .block-service {

        .card {
            height: 100%;
        }
    }

    .category-content {
        min-height: 165px;
    }

}

//responsive tablet

@media only screen and (max-width: 1023px) {

    .has-background-desktop {
        background-size: cover;
    }

    .block-info {
        padding-bottom: 0;
    }

    .block-message {
        margin: 0;
        
    }

    .message-wrap {
        border-radius: 0;
        padding: 2.5rem 0;
    }

    .msg-heading {
        padding: 4.5rem 2.5rem;
    }

    .category-content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

//responsive mobile

@media only screen and (max-width: 767px) {
    .category-content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}