// block-message

.message-wrap {
    margin: 0 1.5rem;
    overflow: hidden;
    background: rgb(255,250,241);
    background: linear-gradient(135deg, rgba(255,250,241,1) 0%, rgba(255,218,195,1) 100%);
    border-radius: 2.5rem;
}

.msg-heading {
    padding: 5rem;

    h1 {
        color: hsl(18, 100%, 50%);
        margin-bottom: 1.5rem;
    }
    
}